<div class="col-12">
    <div class="row top-buffer">
        <div class="col-8">
            <h4 class="card-title">
                {{'Asset.InternalAssetMovement' | translate }}
            </h4>
        </div>
        <div class="col-2">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                aria-controls="collapseExample" class="filterbutton">
                <i class="fa-solid fa-filter"></i> {{'Asset.Filter'|translate}}</a>

        </div>
        <div class="col-2">
            <a class="addbutton" (click)="addAssetMovement()"><i class="fa-solid fa-plus"></i>{{'Asset.Create' |
                translate}}</a>
        </div>
    </div>
    <div class="row top-buffer"></div>
    <div class="col-12">
        <div id="collapseExample" class="collapse row card-filter">

            <form (ngSubmit)="onSearch()" #searchForm="ngForm">
                <div class="row top-buffer">
                    <div class="col-2">
                        <h5>{{ "Asset.Location" | translate }}:</h5>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="governorate" [disabled]="isGov" name="governorate"
                            #governorateId="ngModel" [value]="0" [(ngModel)]="sortFilterObjects.searchObj.governorateId"
                            (change)="getCitiesByGovId(sortFilterObjects.searchObj.governorateId)">
                            <option value="0">{{ "Asset.Governorates" | translate }}</option>
                            <option *ngFor="let gov of lstGovernorates" [value]="gov.id">
                                {{ lang == "en" ? gov.name : gov.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="city" name="cityId" #cityId="ngModel"
                            [(ngModel)]="sortFilterObjects.searchObj.cityId" [disabled]="isCity">
                            <option value="0">{{ "Asset.Cities" | translate }}</option>
                            <option *ngFor="let city of lstCities" [value]="city.id">
                                {{ lang == "en" ? city.name : city.nameAr }}
                            </option>
                        </select>
                    </div>

                    <div class="col-2">
                        <select class="form-control" id="organization" [disabled]="isOrg" name="organization"
                            [(ngModel)]="sortFilterObjects.searchObj.organizationId" (change)="getSubOrgByOrgId($event)"
                            [value]="0">
                            <option value="0">{{ "Asset.Organizations" | translate }}</option>
                            <option *ngFor="let org of lstOrganizations" [value]="org.id">
                                {{ lang == "en" ? org.name : org.nameAr }}
                            </option>
                        </select>
                    </div>

                    <div class="col-2">
                        <select class="form-control" id="suborganization" name="suborganization" [value]="0"
                            [disabled]="isSubOrg" (change)="getHospitalsBySubOrgId($event)"
                            [(ngModel)]="sortFilterObjects.searchObj.subOrganizationId" #suborganization="ngModel">
                            <option value="0">{{ "Asset.SubOrganizations" | translate }}</option>
                            <option *ngFor="let suborg of lstSubOrganizations" [value]="suborg.id">
                                {{ lang == "en" ? suborg.name : suborg.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="hospitalId" [disabled]="isHospital" name="hospitalId"
                            [(ngModel)]="sortFilterObjects.searchObj.hospitalId" [value]="0">
                            <option value="0">{{ "Asset.Hospitals" | translate }}</option>
                            <option *ngFor="let host of lstHospitals" [value]="host.id">
                                {{ lang == "en" ? host.name : host.nameAr }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-2">
                        <h5>{{ "Asset.BasicData" | translate }}:</h5>
                    </div>
                    <div class="col-2">
                        <p-autoComplete [suggestions]="lstMasterAssets" type="search" name="masterAssetId"
                            id="masterAssetId" (completeMethod)="onMasterSelectionChanged($event)"
                            [placeholder]="'Asset.Name' |translate" (onSelect)="getMasterObject($event)" field="master"
                            appendTo="body" [dropdown]="false">
                            <ng-template let-masterAssetObj pTemplate="item">
                                {{lang ==="en" ? masterAssetObj.name:masterAssetObj.nameAr}} -
                                {{lang ==="en" ? masterAssetObj.brandName:masterAssetObj.brandNameAr}}
                                - {{masterAssetObj.model}}
                            </ng-template>
                            <ng-template let-masterAssetObj pTemplate="selectedItem">
                                {{lang=="en" ?masterAssetObj.name:masterAssetObj.nameAr}} -
                                {{lang ==="en" ? masterAssetObj.brandName:masterAssetObj.brandNameAr}}
                                - {{masterAssetObj.model}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <div class="col-2">
                        <p-autoComplete [(ngModel)]="assetBarCodeObj" type="search"
                            [placeholder]="'Asset.Barcode' |translate" [ngModelOptions]="{standalone: true}"
                            [suggestions]="lstassetDetailBarcodes" name="barcode" id="barcode" autoWidth="true"
                            (completeMethod)="onSelectionChanged($event)" (onSelect)="getBarCode($event)" field="name"
                            [dropdown]="false" showClear="true">
                            <ng-template let-assetBarCodeObj pTemplate="item">
                                {{assetBarCodeObj.barCode}}
                            </ng-template>
                            <ng-template let-assetBarCodeObj pTemplate="selectedItem">
                                {{assetBarCodeObj.barCode}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <div class="col-2">
                        <p-autoComplete [(ngModel)]="assetSerailNumberObj" [ngModelOptions]="{standalone: true}"
                            [suggestions]="lstAssetSerailNumberObj" name="serial" id="serial" autoWidth="true"
                            (completeMethod)="onSerialNumberSelectionChanged($event)"
                            (onSelect)="getSerialNumber($event)" field="serialNumber" [dropdown]="false"
                            showClear="true" [placeholder]="'Asset.Serial' |translate">
                            <ng-template let-assetSerailNumberObj pTemplate="item">
                                {{assetSerailNumberObj.serial}}
                            </ng-template>
                            <ng-template let-assetSerailNumberObj pTemplate="selectedItem">
                                {{assetSerailNumberObj.serial}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <div class="col-2">
                        <input type="text" [placeholder]="'Asset.Model' |translate" class="form-control" id="model"
                            name="model" [(ngModel)]="sortFilterObjects.searchObj.modelNumber" />
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="departmentId" name="departmentId"
                            [(ngModel)]="sortFilterObjects.searchObj.departmentId" [value]="0">
                            <option value="0">{{'Asset.Departments' | translate }}</option>
                            <option *ngFor="let depart of lstDepartments" [value]="depart.id">
                                {{ lang == "en" ? depart.name : depart.nameAr }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-2">
                        <h5>{{ "Asset.BasicData" | translate }}:</h5>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="orginId" name="orginId"
                            [(ngModel)]="sortFilterObjects.searchObj.originId" [value]="0">
                            <option value="0">{{'Asset.Origins' | translate }} </option>
                            <option *ngFor="let orgn of lstOrigins" [value]="orgn.id">
                                {{ lang == "en" ? orgn.name : orgn.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="supplierId" name="supplierId"
                            [(ngModel)]="sortFilterObjects.searchObj.supplierId" [value]="0">
                            <option value="0">{{'Asset.Suppliers' | translate }}</option>
                            <option *ngFor="let supply of lstSuppliers" [value]="supply.id">
                                {{ lang == "en" ? supply.name : supply.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="brandId" name="brandId"
                            [(ngModel)]="sortFilterObjects.searchObj.brandId" [value]="0">
                            <option value="0">{{'Asset.Brands' | translate }}</option>
                            <option *ngFor="let brnd of lstBrands" [value]="brnd.id">
                                {{ lang == "en" ? brnd.name : brnd.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="start"> {{'Asset.From' | translate }}</label>
                        <input type="date" [(ngModel)]="sortFilterObjects.searchObj.start"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                    <div class="col-2">
                        <label for="endDate"> {{'Asset.To' | translate }}</label>
                        <input type="date" [(ngModel)]="sortFilterObjects.searchObj.end"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-10"></div>
                    <div class="col-1"> <button class="btn searchIcon" value="save" type="submit">
                            <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                        </button></div>
                    <div class="col-1"> <button class="btn reset" value="Reset" type="button" (click)="reset()">
                            <i class="fa-solid fa-circle-xmark  fa-2xl"></i>
                        </button></div>
                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-table [value]="lstMovements" name="assetMovementTbl"
                styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll"
                [paginator]="true" [lazy]="true" [rows]="10" [totalRecords]="count" pageLinks="10"
                (onLazyLoad)="clicktbl($event)" [loading]="loading" [rowHover]="true">
                <ng-template pTemplate="header" let-cols>
                    <tr>
                        <th style="text-align: inherit;"> {{ 'Asset.AssetName' | translate }}

                            <p-sortIcon id="{{'Asset.AssetName' | translate}}" (click)="sort($event)">
                            </p-sortIcon>
                        </th>
                        <th style="text-align: inherit;"> {{ 'Asset.Barcode' | translate }} <p-sortIcon
                                id="{{'Asset.Barcode'  | translate}}" (click)="sort($event)">
                            </p-sortIcon> </th>
                        <th style="text-align: inherit;"> {{ 'Asset.Serial' | translate }} <p-sortIcon
                                id="{{'Asset.Serial' | translate}}" (click)="sort($event)">
                            </p-sortIcon></th>
                        <th style="text-align: inherit;"> {{ 'Asset.Model' | translate }} <p-sortIcon
                                id="{{ 'Asset.Model'| translate}}" (click)="sort($event)">
                            </p-sortIcon> </th>
                        <th style="text-align: inherit;"> {{ 'Asset.Brand' | translate }} <p-sortIcon
                                id="{{'Asset.Brand'| translate}}" (click)="sort($event)">
                            </p-sortIcon></th>
                        <th style="text-align: inherit;"> {{ 'Asset.Building' | translate }} <p-sortIcon
                                id="{{'Asset.Building'| translate}}" (click)="sort($event)">
                            </p-sortIcon></th>
                        <th style="text-align: inherit;"> {{ 'Asset.Floor' | translate }} <p-sortIcon
                                id="{{'Asset.Floor'  | translate}}" (click)="sort($event)">
                            </p-sortIcon></th>
                        <th style="text-align: inherit;"> {{ 'Asset.Room' | translate }} <p-sortIcon
                                id="{{'Asset.Room' | translate}}" (click)="sort($event)">
                            </p-sortIcon> </th>
                        <th style="text-align: inherit;"> {{ 'Asset.Date' | translate }} <p-sortIcon
                                id="{{'Asset.Date' | translate}}" (click)="sort($event)">
                            </p-sortIcon></th>
                        <th style="text-align: inherit;">{{'Asset.Actions' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td style="text-align: inherit;">
                            <span (click)="viewDetail(item.id)" class="spanpopup">
                                {{ lang=='en' ? item.assetName :item.assetNameAr}}
                            </span>
                        </td>
                        <td style="text-align: inherit;">{{ item.barCode}}</td>
                        <td style="text-align: inherit;">{{ item.serialNumber}}</td>
                        <td style="text-align: inherit;">{{ item.modelNumber}}</td>
                        <td style="text-align: inherit;">{{ lang=='en' ? item.brandName :item.brandNameAr}} </td>
                        <td style="text-align: inherit;">{{ lang=='en' ? item.buildingName :item.buildingNameAr}} </td>
                        <td style="text-align: inherit;">{{ lang=='en' ? item.floorName : item.floorNameAr}}</td>
                        <td style="text-align: inherit;">{{ lang=='en' ? item.roomName : item.roomNameAr}}</td>
                        <td style="text-align: inherit;">{{item.movementDate | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td style="text-align: inherit;">
                            <span class="deleteIcon" (click)="deleteMovement(item.id)">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay">
        <p-header> {{ 'Asset.Error' | translate }} </p-header>
        <span>
            {{ errorMessage }}</span>
    </p-dialog>

</div>