<div class="col-12">
  <form class="form-horizontal" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="row top-buffer">
      <div class="col-4">
        <label for="code" [translate]="'Asset.Code'"></label>
        <input type="text" class="form-control" [(ngModel)]="orgObj.code" name="code" required #code="ngModel"
          autocomplete="false" [class.is-invalid]="(code.touched && code.errors) || form.submitted"
          [class.is-valid]="code.valid && form.submitted" />
      </div>
      <div class="col-4">
        <label for="name" [translate]="'Asset.Name'"></label>
        <input type="text" class="form-control" [(ngModel)]="orgObj.name" name="orgname" required #name="ngModel"
          [class.is-invalid]="(name.touched && name.errors) || form.submitted"
          [class.is-valid]="name.valid && form.submitted" />
      </div>
      <div class="col-4">
        <label for="nameAr" [translate]="'Asset.ArabicName'"></label>
        <input type="text" class="form-control" name="nameAr" #nameAr="ngModel" [(ngModel)]="orgObj.nameAr" required
          [class.is-invalid]="(nameAr.touched && nameAr.errors) || form.submitted"
          [class.is-valid]="nameAr.valid && form.submitted" />
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-6">
        <label for="mobile" [translate]="'Asset.Mobile'"></label>
        <input type="number" class="form-control" [(ngModel)]="orgObj.mobile" name="mobile" />
      </div>
      <div class="col-6">
        <label for="email" [translate]="'Asset.EMail'"></label>
        <input type="email" class="form-control" [(ngModel)]="orgObj.email" name="email" />
        <div *ngIf="isValidEMail" style="color: red;">Invalid E-mail</div>
      </div>

    </div>
    <div class="row top-buffer">
      <div class="col-6">
        <label for="directorName" [translate]="'Asset.DirectorName'"></label>
        <input type="text" class="form-control" [(ngModel)]="orgObj.directorName" name="directorName" />
      </div>
      <div class="col-6">
        <label for="directorNameAr" [translate]="'Asset.ArabicDirectorName'"></label>
        <input type="text" class="form-control" [(ngModel)]="orgObj.directorNameAr" name="directorNameAr"
          autocomplete="false" />
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-6">
        <label for="address" [translate]="'Asset.Address'"></label>
        <textarea type="text" rows="2" cols="30" class="form-control" [(ngModel)]="orgObj.address"
          name="address"></textarea>
      </div>
      <div class="col-6">
        <label for="email" [translate]="'Asset.ArabicAddress'"></label>
        <textarea type="text" rows="2" cols="30" class="form-control" [(ngModel)]="orgObj.addressAr"
          name="addressAr"></textarea>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col-12 text-center">
        <button class="btn btn-success" value="Save" type="submit"> {{ 'Asset.Save' | translate}}</button>
      </div>
    </div>
  </form>
</div>

<p-dialog appendTo="body" modal="true" [(visible)]="display" [style]="{width: '350px'}">
  <ng-template pTemplate="header">
    <h6 [translate]="''" style="color: #04527e;font-weight: bold;font-size: 16pt;"> {{ 'Asset.Save' | translate }}</h6>
  </ng-template>
  <span style="color: green;font-weight: bold;font-size: 12pt;text-align: center;"> {{ 'Asset.SavedSuccess' | translate
    }}</span>
</p-dialog>

<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
  <p-header style="color: rgb(181, 4, 4)"> Error </p-header>
  <span style="color: rgb(181, 4, 4); font-weight: bold">
    {{ errorMessage }}</span>
</p-dialog>