<div class="col-12">
    <div class="row top-buffer">
        <div class="col-8">
            <h4 class="card-title"> {{ 'Asset.stockTakingSchedule' | translate }} </h4>
        </div>
        <div class="col-2">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                aria-controls="collapseExample" class="filterbutton" (click)="toggle()">
                <i class="fa-solid fa-filter"></i> {{'Asset.Filter'|translate}}</a>
        </div>
        <div class="col-2">
            <a class="addbutton" [routerLink]="['/stockTakingSchedule/addStockTakingSchedule']"><i
                    class="fa-solid fa-plus"></i> {{ 'Asset.Create' |
                translate }}</a>
        </div>
    </div>

    <div class="col-12 top-buffer">
        <div class="collapse  row card-filter" id="collapseExample">
            <form (ngSubmit)="onSearch()" #searchForm="ngForm" *ngIf="show">
                <div class="row top-buffer">
                    <div class="col-3">
                        <label for="governorate" [translate]="'Asset.Governorates'">Governorate</label>
                        <select class="form-control" id="governorate" name="governorate" #governorate="ngModel"
                            [value]="0" [(ngModel)]="searchObj.governorateId" [disabled]="isGov"
                            (change)="getCitiesByGovId(searchObj.governorateId)">
                            <option value="0">
                            </option>
                            <option *ngFor="let gov of lstGovernorates" [value]="gov.id">
                                {{ lang == "en" ? gov.name : gov.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="cityId" [translate]="'Asset.Cities'">City</label>
                        <select class="form-control" id="city" name="city" #cityId="ngModel"
                            [(ngModel)]="searchObj.cityId" [value]="0" [disabled]="isCity"
                            (change)="getHospitalsByCityId($event)">
                            <option value="0"> </option>
                            <option *ngFor="let city of lstCities" [value]="city.id">
                                {{ lang == "en" ? city.name : city.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="organization" [translate]="'Asset.Organizations'">Organization</label>
                        <select class="form-control" id="organization" [disabled]="isOrg" name="organization"
                            [(ngModel)]="searchObj.organizationId" (change)="getSubOrgByOrgId($event)" [value]="0">
                            <option value="0"></option>
                            <option *ngFor="let org of lstOrganizations" [value]="org.id">
                                {{ lang == "en" ? org.name : org.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="organization" [translate]="'Asset.SubOrganizations'">Sub Organization</label>
                        <select class="form-control" id="suborganization" name="suborganization" [value]="0"
                            [disabled]="isSubOrg" (change)="getHospitalsBySubOrgId()"
                            [(ngModel)]="searchObj.subOrganizationId" #suborganization="ngModel">
                            <option value="0"></option>
                            <option *ngFor="let suborg of lstSubOrganizations" [value]="suborg.id">
                                {{ lang == "en" ? suborg.name : suborg.nameAr }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-6">
                        <label for="hospitalId" [translate]="'Asset.Hospitals'">Hospitals</label>
                        <select class="form-control" id="hospitalId" [disabled]="isHospital" name="hospitalId"
                            [(ngModel)]="searchObj.hospitalId" [value]="0" (change)="getAssetsByHospitalId($event)">
                            <option value="0"></option>
                            <option *ngFor="let host of ddlHospitals" [value]="host.id">
                                {{ lang == "en" ? host.name : host.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="subject"> {{'Asset.StartDate' | translate }}</label>
                        <input type="date" class="form-control" [(ngModel)]="searchObj.start"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                    <div class="col-3">
                        <label for="endDate" [translate]="'Asset.EndDate'"> {{'Asset.EndDate' | translate}}</label>
                        <input type="date" class="form-control" [(ngModel)]="searchObj.end"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-10"></div>
                    <div class="col-1"> <button class="btn searchIcon" value="save" type="submit">
                            <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                        </button></div>
                    <div class="col-1"> <button class="btn reset" value="Reset" type="button" (click)="reset()">
                            <i class="fa-solid fa-circle-xmark  fa-2xl"></i>
                        </button></div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p-table [value]="listStockTakingScheduleVM"
                styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll"
                [paginator]="true" [lazy]="true" [rows]="10" [loading]="loading" [totalRecords]="count" pageLinks="10"
                (onLazyLoad)="clicktbl($event)" [rowHover]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: inherit;">{{'Asset.stCode' | translate }} </th>
                        <th style="text-align: inherit;" [sortable]="true">{{ 'Asset.StartDate' | translate }} </th>
                        <th style="text-align: inherit;" [sortable]="true">{{ 'Asset.EndDate' | translate }} </th>
                        <th style="text-align: inherit;" [sortable]="true">{{ 'Asset.UserName' | translate }}</th>
                        <th style="text-align: inherit;" [sortable]="true">{{ 'Asset.CreationDate' | translate }} </th>
                        <th style="text-align: inherit;">{{ 'Asset.Actions' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td style="text-align: inherit;">{{item.stCode}}</td>
                        <td style="text-align: inherit;">{{item.startDate | date:'dd-MM-yyyy'}}</td>
                        <td style="text-align: inherit;">{{item.endDate | date:'dd-MM-yyyy'}}</td>
                        <td style="text-align: inherit;">{{item.userName}}</td>
                        <td style="text-align: inherit;">{{ item.creationDate | date:"MM-dd-yyyy"}}</td>
                        <td style="text-align: inherit;"> <span class="viewIcon" (click)="viewHospitals(item.id)">
                                <i class="fa fa-solid fa-info"></i> </span>
                            <span class="deleteIcon" (click)="deleteStock(item.id)">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-confirmDialog header="Are you sure you want to delete this item?">
</p-confirmDialog>
<p-dialog appendTo="body" modal="true" [(visible)]="relatedHospitalsDisplay" [style]="{ width: '350px' }">

    <p-table #dt dataKey="id" [value]="lstHospitals"
        styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll"
        [rowHover]="true" [paginator]="true" [rows]="10" [loading]="loading" [totalRecords]="count" pageLinks="10">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'Asset.Name' | translate }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{lang =='en'? item.name:item.nameAr}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>