<div class="col-12">

    <table id="printable">
        <tr style="width: 170px;">
            <td rowspan="2"><img src="../../../../assets/images/MHP.png" width="120" height="100"></td>
        </tr>
        <tr>
            <td class="card-title" style="font-size: 30px;color: #1683c2;font-weight: bold;">{{
                'Asset.ExternalAssetMovement' | translate }}
                <br />
                <br />
                {{lang =="en" ?currentUser.hospitalName :currentUser.hospitalNameAr }}
            </td>
        </tr>
    </table>
    <h4 class="card-title" style="font-size: 30px;color: #1683c2;font-weight: bold;">
    </h4>
    <h4 class="card-title" id="printable" style="font-size: 20px;color: #1683c2;font-weight: bold;">

    </h4>

    <div class="card-body">
        <div class="row top-buffer" id="non-printable">
            <div class="col-12">
                <button type="button" class="btn btn-outline-primary  btn-sm"
                    style="margin: 0px 10px; margin-top: -5px;float: left;" (click)="printPage()"><i
                        class="fa-solid fa-print"></i></button>
            </div>
        </div>

        <div class="row top-buffer" id="printable">
            <div class="col-12 viewfont">
                <label for="date" class="viewfont" [translate]="'Asset.Date'"></label>
                {{ viewExternalAssetMovementObj.movementDate}}
            </div>
        </div>

        <div class="row top-buffer" id="printable">
            <div class="col-12 viewfont top-buffer">
                <label for="assetId" class="viewfont" [translate]="'Asset.Asset'"></label>
                {{lang=="en" ? viewExternalAssetMovementObj.assetName:viewExternalAssetMovementObj.assetNameAr}}
            </div>

        </div>
        <div class="row top-buffer" id="printable">
            <div class="col-12 viewfont top-buffer">
                <label for="assetId" class="viewfont" [translate]="'Asset.Serial'"></label>
                {{viewExternalAssetMovementObj.serialNumber}}
            </div>

        </div>
        <div class="row top-buffer" id="printable">

            <div class="col-12 viewfont top-buffer">
                <label for="assetId" class="viewfont" [translate]="'Asset.Barcode'"></label>
                {{viewExternalAssetMovementObj.barCode}}
            </div>
        </div>

        <div class="row top-buffer" id="printable">
            <div class="col-12 viewfont top-buffer">
                <label for="date" class="viewfont" [translate]="'Asset.Hospital'"></label>
                {{ viewExternalAssetMovementObj.hospitalName}}
            </div>
        </div>
        <div class="row top-buffer" id="printable">
            <div class="col-12 viewfont top-buffer">
                <label for="notes" class="viewfont" [translate]="'Asset.Notes'"></label>

            </div>
        </div>
        <div class="row top-buffer" id="printable">
            <div class="col-12 viewfont top-buffer">
                {{viewExternalAssetMovementObj.notes}}
            </div>
        </div>


        <div class="row top-buffer" id="non-printable" style="margin-top: 15px;">
            <div class="col-12">
                <table class="table table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th [translate]="'Asset.FileName'"> {{ 'Asset.Title' | translate }}</th>
                            <th [translate]="'Asset.FileName'"> {{ 'Asset.FileName' | translate }}</th>
                            <th style="text-align: center;" [translate]="'Asset.Download'"> {{
                                'Asset.Download' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let attach of viewExternalAssetMovementObj.listMovementAttachments">
                            <td>
                                {{attach.title}}
                            </td>
                            <td>
                                {{attach.fileName}}
                            </td>
                            <td style="cursor: pointer;text-align: center;" pTooltip="Download File"
                                tooltipPosition="top">
                                <a (click)="downloadFile(attach.fileName)"><i class="fa-solid fa fa-download"
                                        style="color: #61bb20;"></i></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- <button id="non-printable" (click)="back()" class="btn btn-primary pull-center btn-sm" (click)="back()"
        style="margin: 0px 5px;background-color: #7e8083 !important;border-color:#7e8083">{{'Asset.Back' | translate
        }}</button> -->
</div>