<div>
    <div class="row">
        <div class="col-12 barcodediv" [ngStyle]="{'text-align': lang == 'en' ? 'right': 'left'}">
            <ngx-barcode [bc-value]="viewWNPMAssetTimeObj.barCode" [bc-display-value]="true" width="20" height="5">
            </ngx-barcode>
        </div>
        <div class="col-12 headerdiv">
            <div class="card">
                <div class="card-body">

                    <div class="row top-buffer">
                        <div class="col-6">
                            <label for="assetName" class="labeldetails" [translate]="'Asset.Name'">Asset Name
                                :</label>
                            {{lang == "en" ? viewWNPMAssetTimeObj.assetName:viewWNPMAssetTimeObj.assetNameAr}}
                        </div>
                        <div class="col-6">
                            <label for="code" class="labeldetails" [translate]="'Asset.Barcode'">Code :</label>
                            {{viewWNPMAssetTimeObj.barCode}}
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-6" [ngStyle]="{'direction': lang == 'en' ? 'ltr': 'ltr'}">
                            {{viewWNPMAssetTimeObj.serialNumber}}
                            <label for="serialNumber" class="labeldetails" [translate]="'Asset.Serial'">Serial
                                Number :
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="pmdate" class="labeldetails" [translate]="'Asset.Date'">
                                :</label>
                            {{viewWNPMAssetTimeObj.pmDate | date:'dd-MM-yyyy HH:mm:ss'}}
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-12">
                            <label for="isDone" class="labeldetails" [translate]="'Asset.IsDone'">
                                :</label>
                            {{viewWNPMAssetTimeObj.isDone}}
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-6" [ngStyle]="{'direction': lang == 'en' ? 'ltr': 'ltr'}">
                            {{viewWNPMAssetTimeObj.doneDate | date:'dd-MM-yyyy HH:mm:ss'}}
                            <label for="serialNumber" class="labeldetails" [translate]="'Asset.DoneDate'">Serial
                                Number :
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="dueDate" class="labeldetails" [translate]="'Asset.DueDate'">
                                :</label>
                            {{viewWNPMAssetTimeObj.dueDate | date:'dd-MM-yyyy HH:mm:ss'}}
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-6">
                            <label for="departmentId" class="labeldetails"
                                [translate]="'Asset.Department'">Departments</label>
                            {{ lang == "en" ?viewWNPMAssetTimeObj.departmentName:viewWNPMAssetTimeObj.departmentNameAr}}
                        </div>
                        <div class="col-6">
                            <label for="agencyId" class="labeldetails" [translate]="'Asset.Agency'">Agency</label>
                            {{ lang == "en" ? viewWNPMAssetTimeObj.supplierName:viewWNPMAssetTimeObj.supplierNameAr}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 style="font-size: 20px;color: #1683c2;font-weight: bold;">{{ 'Asset.PMTasks' | translate }}
                    </h4>
                </div>
                <div class="card-body">

                    <p-table [value]="viewWNPMAssetTimeObj.listMasterAssetTasks"
                        styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: inherit;">{{ 'Asset.Name' | translate }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td style="text-align: inherit;">{{lang=="en" ?item.taskName:item.taskNameAr}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </div>
        </div>
    </div>

</div>